.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  .mgh-button {
    margin:10px !important;
    /*height: 30px;*/
    width:60px;
  }
  .stepControlBlock {
    margin: 10px !important;
}

.selectedCounter {
  font-weight: bold;
}