<mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Select Users to Modify <span class="selectedCounter">({{users.length}} selected)</span></ng-template>
        <!-- <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field> -->
        <div class="stepControllerBlock">
            <button class="mgh-button" mat-raised-button  matStepperNext>Next</button>
        </div>
        <app-list></app-list>

      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Select Role(s) to Add To Users <span class="selectedCounter">({{roles.length}} selected)</span></ng-template>
        <!-- <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field> -->
        <div>
          <button class="mgh-button" mat-raised-button matStepperPrevious>Back</button>
            <button class="mgh-button" mat-raised-button matStepperNext>Next</button>
 
         
        </div>
        <app-roles></app-roles>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Select Locations(s) to Add To Users <span class="selectedCounter">({{locations.length}} selected)</span></ng-template>
          <!-- <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                   required>
          </mat-form-field> -->
          <div>
            <button  class="mgh-button" mat-raised-button matStepperPrevious>Back</button>
            <button class="mgh-button" mat-raised-button matStepperNext>Next</button>
          </div>
          <app-locations></app-locations>
        </form>
      </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div>
        <button class="mgh-button" mat-raised-button matStepperPrevious>Back</button>
        <button class="mgh-button" mat-raised-button (click)="stepper.reset()">Reset</button>
        <button class="mgh-button" style="margin-left:40px;width:200px;" color="warn" mat-raised-button (click)="stepper.reset()">Submit Changes</button>

      </div>
      <app-summary></app-summary>
    </mat-step>
  </mat-stepper>